.notice-page {
  position: relative;
  > .container {
    margin-top: 10.2rem;
    .page-tilte {
      margin-bottom: 8rem;
      h1 {
        font-size: 4rem;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.13;
        letter-spacing: normal;
      }
      p {
        margin-top: 1.2rem;
        opacity: 0.4;
        font-size: 1.5rem;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
      }
    }
  }

  $board-selector-height: 3.7rem;
  .notice-navigator {
    position: absolute;
    left: 0;
    width: 100%;
    will-change: top;
    .board-selector {
      position: relative;
      margin-bottom: 2.4rem;
      border-bottom: 1px solid #000;
      font-size: 2rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 2.9rem;
      user-select: none;

      .dropdown-icon {
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        width: 2.8rem;
        height: 2.8rem;
      }

      .current-selected {
        height: $board-selector-height;
        letter-spacing: normal;
      }
      .menu {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: white;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .dropdown-icon {
          transform: rotate(180deg);
        }
        ul {
          margin: 0;
          padding: 0;
          list-style: none;
          li {
            height: $board-selector-height;
            &:nth-of-type(1) {
              border-bottom: 1px solid rgba(0, 0, 0, 1);
            }
            &:nth-of-type(n + 2) {
              padding: 0.5rem 0;
            }
          }
          a {
            display: block;
            color: #000;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .label-selector {
      padding: 0;
      margin: 0;
      list-style: none;
      font-size: 1.5rem;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      li {
        margin-bottom: 1rem;
        &.active {
          font-weight: bold;
        }
        a {
          text-decoration: none;
          color: #000;
        }
      }
    }
  }

  #section-wrap {
    min-height: 50rem;
    padding-top: $board-selector-height;
    margin-bottom: 21rem;
  }

  .board {
    ul.posts {
      list-style: none;
      padding: 0;
      margin: 0 0 4rem;

      border-top: 2px solid #000;
      border-bottom: 2px solid #000;

      li {
        padding: 3.2rem 0 3.4rem;
        background-image: url("../images/ic_arrow_next_gray.svg");
        background-position: right 3.6rem;
        background-repeat: no-repeat;
        background-size: 5.6rem 5.6rem;
        cursor: pointer;
        &:nth-of-type(n + 2) {
          border-top: 1px solid rgba(0, 0, 0, 0.07);
        }
        &.empty {
          font-size: 2rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.45;
          opacity: 0.56;
        }
        .top {
          font-size: 1.5rem;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.47;
          color: #007ecf;
          margin-bottom: 1.2rem;
          .date {
            float: right;
            color: #000;
            opacity: 0.2;
            margin-right: 10rem;
          }
        }
        .title {
          opacity: 0.56;
          font-size: 2rem;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.45;
        }
        &:not(.empty):hover {
          background-image: url("../images/ic_arrow_next_black.svg");
          .title {
            opacity: 1;
          }
          .top .date {
            opacity: 0.4;
          }
        }
      }
    }
  }

  .paginate {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      width: 4rem;
      height: 4rem;

      font-size: 1.6rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: center;
      cursor: pointer;
      a {
        width: 100%;
        display: block;
        height: 100%;
        line-height: 4rem;
        outline: none;
        user-select: none;
      }
      &.selected {
        background-color: #000;
        color: #fff;
      }
      &.previous,
      &.next {
        a {
          font-size: none;
        }
        background-image: url("../images/button_arrow_previous.svg");
        background-size: 4rem 4rem;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &.next {
        background-image: url("../images/button_arrow_next.svg");
      }
    }
  }

  .post {
    .top {
      font-size: 1.5rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      color: #007ecf;
      margin-bottom: 1rem;
    }
    .title {
      font-size: 3.6rem;
      margin-bottom: 1rem;
    }
    .author,
    .writeAt {
      font-size: 1.6rem;
      opacity: 0.7;
    }
    .contents {
      padding: 1rem 0 2rem;
      font-size: 1.6rem;
    }

    .attachments {
      font-size: 1.6rem;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.47;
      color: #007ecf;
      margin-bottom: 1rem;
    }
  }
}

@import "./NoticePage_responsive.scss";
